---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=%20AIzaSyD_4PGQ5vEroNxwiy5OXlVH8X_G7hXcbL6%20&location=37.402079,-122.108896&radius=800&type=gym
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 37.40375879999999,
                       "lng" : -122.1085309
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.40510778029149,
                          "lng" : -122.1071819197085
                       },
                       "southwest" : {
                          "lat" : 37.40240981970849,
                          "lng" : -122.1098798802915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "6ba4c3e4cd1494aca3abe06c98b350941bf10868",
                 "name" : "24 Hour Fitness",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 540,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110466103979233042251/photos\"\u003eAstrid Bernaga\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAPDMnxd1DqhNLvI9Hw9lLQChQg-uDe_OWnXeSN1kIk0TI3WtyOGwi3brSPXXjeon8NXouKGvzlTSLviINVmRDmQi-1d1uQgBUcPa8taEXAaf05cOaEG6SwayQhOJ_rT97ATgdcCUWauQUOmt_qO4iGb3dRprfxgbvdJIkYcY2o10EhAbE2J05cut52lzGAJ98Il6GhTb46kz0PukY8AM1I-sJlYCiQzOeQ",
                       "width" : 960
                    }
                 ],
                 "place_id" : "ChIJ09uLP5-wj4ARKEnLyKyh7YQ",
                 "rating" : 2.9,
                 "reference" : "CmRSAAAATkQ_cH6PAG2PQoHd7jJ_sruzaj6trqQxVvy8NsA4v3OsZgLe8A1Q1oEffrdD_Dedb5zb3tgwUDC2pxk1PUb6VqE0qgLb6Tc7HdnarucQoMlaSykXNYzCxjZ5vggSMXEuEhD-0YkZbN6kbKHkGMWKLoNDGhSqRPPDoR2eKpuoz7Jp0J9oYH5BJg",
                 "scope" : "GOOGLE",
                 "types" : [ "gym", "health", "point_of_interest", "establishment" ],
                 "vicinity" : "2535 California Street, Mountain View"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 37.402537,
                       "lng" : -122.1095753
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4038859802915,
                          "lng" : -122.1082263197085
                       },
                       "southwest" : {
      [...]
